@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url(../libs/bootstrap/css/bootstrap.min.css);
.-color-primary {
  color: #E09B0F; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #4D4D4D;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.04em; }

a, a:hover {
  color: #333;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  outline: none; }

strong {
  font-weight: 700; }

hr {
  background-color: #512B35;
  opacity: 1; }

.ratio > * {
  object-fit: contain; }

.ratio.-cover > * {
  object-fit: cover; }

.fs-12 {
  font-size: 12px !important; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%;
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb > * {
    margin: 0px auto;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb.-contain > * {
    object-fit: contain; }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

.container-1080 {
  max-width: 1100px; }

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1220px; }

  .container-1080 {
    max-width: 1100px; } }
[class^="icon-"], [class*=" icon-"] {
  position: relative;
  display: inline-block; }
  [class^="icon-"].-white:before, [class*=" icon-"].-white:before {
    background-color: #fff; }
  [class^="icon-"].-white:hover:before, [class*=" icon-"].-white:hover:before {
    background-color: #FFECA7; }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    content: '';
    position: relative;
    display: inline-block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    background-color: #666666;
    transition: color .5s; }

.icon-close:before {
  top: 2px;
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(../img/icon-close.svg); }

@-webkit-keyframes lightAnimation {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  50% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
  to {
    -webkit-filter: brightness(1);
    filter: brightness(1); } }
@-webkit-keyframes Mousex {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 10px); }
  to {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Mousex {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(0, 10px); }
  to {
    -moz-transform: translate(0, 0px); } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft.animated {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight.animated {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp.animated {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
.zoomIn.animated {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInDown.animated {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms; }

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important; } }
.header.head_abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }
.header .logo {
  display: block; }
  .header .logo img {
    display: block;
    margin-bottom: 10px;
    width: auto;
    max-height: 40px; }
  .header .logo__text {
    display: inline-block;
    padding: 2px 6px;
    font-size: 13px;
    color: #fff;
    white-space: nowrap;
    font-family: 'Shippori Mincho', serif;
    background: #314153; }
.header .header_nav_logo {
  padding: 15px 0; }
.header .menu__main {
  position: relative; }
  .header .menu__main #navbar_menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    padding: 10px 15px;
    z-index: 2;
    text-align: left; }
    .header .menu__main #navbar_menu .nav-menu a {
      text-transform: uppercase;
      font-weight: 500;
      color: #333;
      display: block;
      font-size: 14px;
      padding: 5px 0px; }
  .header .menu__main .navbar-toggler {
    background: #fff;
    height: 106px;
    width: 106px;
    border-radius: 100px;
    padding: 0 30px; }
  .header .menu__main .navbar-toggler span {
    display: block;
    height: 2px;
    background: #ddd;
    margin: 7px 0; }
    .header .menu__main .navbar-toggler span.icon-text {
      font-size: 15px;
      color: #666666;
      background: none;
      line-height: 10px; }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.footer {
  position: relative;
  padding: 100px 0;
  background: #F5F5F5; }
  .footer__title {
    padding: 10px 0;
    margin-bottom: 20px;
    font-family: 'Shippori Mincho', serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #C9C9C9; }

.copyright {
  padding: 80px 0;
  font-family: 'Shippori Mincho', serif;
  font-size: 12px;
  letter-spacing: 0.2em; }
  .copyright__logo {
    margin-bottom: 20px; }
    .copyright__logo img {
      width: auto;
      max-height: 34px; }

/*
======================================
[ Main menu ]
======================================
*/
.py-150 {
  padding-top: 150px;
  padding-bottom: 150px; }

.ratio {
  display: block; }

.ratio_cover > * {
  object-fit: cover; }

.head__title {
  font-family: 'Shippori Mincho', serif;
  margin-bottom: 50px;
  letter-spacing: 0.2em; }
  .head__title .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.1em; }
  .head__title .sub {
    position: relative;
    padding-left: 35px;
    font-size: 15px;
    font-weight: 500; }
    .head__title .sub::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 40%;
      width: 30px;
      height: 1px;
      background: #c9c9c9; }
  .head__title.head__center .title {
    font-size: 26px; }
  .head__title.head__center .sub {
    padding: 0 0 15px; }
    .head__title.head__center .sub::before {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }

.btn.btn-default {
  font-family: 'Shippori Mincho', serif;
  font-size: 15px; }
  .btn.btn-default .text {
    border-bottom: 2px solid #e4e4e4;
    padding-bottom: 6px;
    text-transform: capitalize; }
  .btn.btn-default .icon {
    width: 18px;
    display: inline-block;
    margin-left: 10px; }

.view__all {
  text-align: center;
  margin: 45px 0 0; }

.btn_style_new {
  display: inline-block;
  min-width: 300px;
  text-align: center;
  font-family: 'Shippori Mincho', serif;
  font-size: 15px;
  text-transform: uppercase;
  background: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 7px 30px;
  letter-spacing: 0.2em; }
  .btn_style_new:hover {
    border-color: transparent; }
  .btn_style_new .icon {
    display: inline-block;
    width: 18px;
    margin-left: 10px; }
  .btn_style_new.-st2 {
    box-shadow: none;
    background: #F6F6F3; }

/**/
.new-item {
  position: relative; }
  .new-item__thumb {
    margin-bottom: 16px; }
  .new-item__date {
    position: relative;
    padding-left: 28px;
    font-size: 11px;
    color: #969696;
    margin-bottom: 10px; }
    .new-item__date::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 18px;
      height: 2px;
      background: #dfdfdf; }
  .new-item__title {
    font-size: 15px;
    line-height: 25px; }

.home__wrapper .header_banner {
  position: relative;
  margin-bottom: 165px;
  text-align: right; }
  .home__wrapper .header_banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 72%;
    height: calc(100% + 70px);
    background: #f7f7f5; }
  .home__wrapper .header_banner .thumb.ratio {
    width: 80%;
    display: inline-block;
    overflow: hidden;
    --bs-aspect-ratio: 65%; }
  .home__wrapper .header_banner .ratio > * {
    object-fit: cover; }
.home__wrapper .banner_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  text-align: left; }
  .home__wrapper .banner_item .container {
    font-family: 'Shippori Mincho', serif; }
  .home__wrapper .banner_item .title {
    font-size: 38px;
    margin: 0 0 20px;
    font-weight: 700;
    letter-spacing: 0.2em; }
  .home__wrapper .banner_item .sub {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.2em; }
.home__wrapper .ss_news {
  margin-bottom: 0;
  padding-bottom: 50px; }
  .home__wrapper .ss_news .list_news li:not(:last-child) {
    margin: 0 0 20px; }
  .home__wrapper .ss_news .list_news .date {
    font-size: 11px;
    margin-right: 10px;
    color: #979797; }
  .home__wrapper .ss_news .list_news .text {
    font-size: 14px;
    color: #4c4c4c; }
.home__wrapper .ss_recommend {
  position: relative;
  overflow: hidden;
  padding: 80px 0 80px; }
  .home__wrapper .ss_recommend::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82%;
    background: #F4F4F4;
    z-index: -1;
    pointer-events: none;
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0% 100%); }
  .home__wrapper .ss_recommend .recommand_slide {
    width: 100vw;
    padding: 6px; }
  .home__wrapper .ss_recommend .swiper-slide {
    width: 100%;
    max-width: 240px; }
  .home__wrapper .ss_recommend .thumb {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    padding: 35px;
    background: #fff; }
  .home__wrapper .ss_recommend .thumb .ratio {
    display: block; }
  .home__wrapper .ss_recommend .content .title {
    margin: 20px 0 10px; }
    .home__wrapper .ss_recommend .content .title a {
      display: block;
      color: #000;
      font-size: 15px;
      font-weight: 700; }
  .home__wrapper .ss_recommend .content .des {
    font-size: 12px; }
  .home__wrapper .ss_recommend .content .price {
    font-size: 15px;
    padding-left: 28px;
    margin: 6px 0 0;
    position: relative; }
    .home__wrapper .ss_recommend .content .price::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 18px;
      height: 2px;
      background: #dfdfdf; }
.home__wrapper .ss_wellmethod {
  position: relative;
  padding: 140px 0 60px;
  overflow: hidden; }
  .home__wrapper .ss_wellmethod .wellmethod_lists {
    position: relative; }
    .home__wrapper .ss_wellmethod .wellmethod_lists:before {
      content: '';
      position: absolute;
      bottom: -145px;
      right: calc( (100vw - 1100px)/-2 );
      width: 100%;
      height: 100%;
      background: #F6F6F3;
      z-index: -1;
      pointer-events: none; }
.home__wrapper .ss_brand__lists {
  position: relative;
  padding: 180px 0; }
  .home__wrapper .ss_brand__lists .el-item {
    position: relative; }
    .home__wrapper .ss_brand__lists .el-item .ratio {
      --bs-aspect-ratio: 53%; }
    .home__wrapper .ss_brand__lists .el-item__meta {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px 120px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .home__wrapper .ss_brand__lists .el-item .-wrap-meta {
      padding: 12px 20px;
      background: rgba(53, 137, 226, 0.8);
      color: #fff;
      width: 100%; }
    .home__wrapper .ss_brand__lists .el-item__title {
      font-size: 12px;
      letter-spacing: 0.31em;
      margin-bottom: 8px; }
    .home__wrapper .ss_brand__lists .el-item__sub {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
    .home__wrapper .ss_brand__lists .el-item.-s2 .-wrap-meta {
      background: rgba(199, 150, 3, 0.8); }
.home__wrapper .ss_subscription {
  position: relative;
  padding: 100px 0; }
  .home__wrapper .ss_subscription .el-box {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 50px 100px;
    background: #fff;
    font-size: 14px; }
  .home__wrapper .ss_subscription .title_icon img {
    width: 20px;
    height: 20px; }

/*# sourceMappingURL=main.css.map */
