@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url(../libs/bootstrap/css/bootstrap.min.css);
.-color-primary {
  color: #314153; }

/* HTML5 display-role reset for older browsers */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #4D4D4D;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.04em; }

ul, ol {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: normal; }

p {
  margin-bottom: 0; }

a {
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%; }

a, a:hover {
  color: #333;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  outline: none; }

strong {
  font-weight: 700; }

hr {
  background-color: #C9C9C9;
  opacity: 1; }

.ratio > * {
  object-fit: contain; }

.ratio.-cover > * {
  object-fit: cover; }

.fs-12 {
  font-size: 12px !important; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%;
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb > * {
    margin: 0px auto;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb.-contain > * {
    object-fit: contain; }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

@media (min-width: 1200px) {
  .container-1080 {
    max-width: 1100px; } }
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1220px; }

  .container-1080 {
    max-width: 1100px; } }
[class^="icon-"], [class*=" icon-"] {
  position: relative;
  display: inline-block; }
  [class^="icon-"].-white:before, [class*=" icon-"].-white:before {
    background-color: #fff; }
  [class^="icon-"].-white:hover:before, [class*=" icon-"].-white:hover:before {
    background-color: #FFECA7; }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    content: '';
    position: relative;
    display: inline-block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    background-color: #666666;
    transition: color .5s; }

.icon-close:before {
  top: 2px;
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(../img/icon-close.svg); }
.icon-search:before {
  top: 2px;
  width: 16px;
  height: 16px;
  -webkit-mask-image: url(../img/icon-magnifier.svg); }
.icon-cart:before {
  top: 2px;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(../img/icon-cart.svg); }
.icon-faq:before {
  top: 2px;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(../img/icon-faq.svg); }
.icon-login:before {
  top: 2px;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(../img/icon-login.svg); }
.icon-register:before {
  top: 2px;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(../img/icon-register.svg); }
.icon-arrow-right:before {
  width: 10px;
  height: 10px;
  -webkit-mask-image: url(../img/icon-arrow-right.svg); }
.icon-arrow-circle:before {
  top: 2px;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(../img/icon-arrow-circle.svg); }
.icon-tollfree:before {
  width: 30px;
  height: 20px;
  -webkit-mask-image: url(../img/icon-tollfree.svg); }
.icon-star:before {
  top: 2px;
  width: 30px;
  height: 20px;
  -webkit-mask-image: url(../img/icon-star.svg);
  background-color: #5AC2CB; }
.icon-rhombus::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #4D4D4D;
  transform: rotate(45deg); }

@-webkit-keyframes lightAnimation {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1); }
  50% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
  to {
    -webkit-filter: brightness(1);
    filter: brightness(1); } }
@-webkit-keyframes Mousex {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 10px); }
  to {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Mousex {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(0, 10px); }
  to {
    -moz-transform: translate(0, 0px); } }
.ef--zoomin .ratio img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.ef--zoomin:hover .ratio img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/*Effect Button*/
.ef-btn-scale {
  position: relative;
  border: 0; }
  .ef-btn-scale:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fbb916;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top; }
  .ef-btn-scale span {
    position: relative;
    z-index: 2; }
  .ef-btn-scale:hover {
    color: #fff;
    border-color: transparent; }
    .ef-btn-scale:hover i:before {
      background-color: #fff; }
    .ef-btn-scale:hover:after {
      transform-origin: left top;
      transform: scale(1, 1); }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft.animated {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight.animated {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp.animated {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
.zoomIn.animated {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInDown.animated {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms; }

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important; } }
.header.head_abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }
.header.-st2 {
  background: #F7F7F5; }
  .header.-st2 .menu__main .navbar-toggler {
    background: transparent;
    width: 40px;
    height: auto;
    padding: 0; }
.header-nav {
  font-size: 11px;
  line-height: normal; }
  .header-nav li:not(:last-child) {
    margin-right: 10px; }
.header .logo {
  display: block; }
  .header .logo img {
    display: block;
    margin-bottom: 10px;
    width: auto;
    max-height: 40px; }
  .header .logo__text {
    display: inline-block;
    padding: 2px 6px;
    font-size: 13px;
    color: #fff;
    white-space: nowrap;
    font-family: 'Shippori Mincho', serif;
    background: #314153; }
.header .menu__main {
  position: relative; }
  .header .menu__main #navbar_menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    padding: 10px 15px;
    z-index: 2;
    text-align: left; }
    .header .menu__main #navbar_menu .nav-menu a {
      text-transform: uppercase;
      font-weight: 500;
      color: #333;
      display: block;
      font-size: 14px;
      padding: 5px 0px; }
  .header .menu__main .navbar-toggler {
    background: #fff;
    height: 106px;
    width: 106px;
    border-radius: 100px;
    padding: 0 30px; }
  .header .menu__main .navbar-toggler span {
    display: block;
    height: 2px;
    background: #ddd;
    margin: 7px 0; }
    .header .menu__main .navbar-toggler span.icon-text {
      width: auto;
      height: auto;
      padding-top: 5px;
      font-size: 12px;
      color: #666666;
      background: none;
      line-height: 10px;
      letter-spacing: 0.14em; }
.header-search form {
  position: relative; }
.header-search__input {
  position: relative;
  width: 100%;
  max-width: 270px; }
  .header-search__input input {
    padding-right: 24px;
    border-radius: 4px; }
.header-search__btn {
  position: absolute;
  top: 5px;
  right: 0;
  background: transparent;
  border: 0; }
.header-search__tag {
  font-size: 12px;
  line-height: normal; }
  .header-search__tag a {
    border: 1px solid;
    border-radius: 40px;
    padding: 2px 6px;
    text-align: center;
    margin-bottom: 8px; }
    .header-search__tag a:not(:last-child) {
      margin-right: 12px; }
.header-contactz {
  width: 100%;
  max-width: 400px;
  padding: 5px 8px;
  border: 1px solid #314153;
  font-size: 12px;
  line-height: 17px; }
  .header-contactz .-contactz-tel {
    font-size: 28px;
    line-height: 34px; }
  .header-contactz .-contactz-time {
    font-size: 14px; }
  .header-contactz .-contactz-more {
    font-size: 14px;
    line-height: normal;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    white-space: nowrap; }
    .header-contactz .-contactz-more:hover {
      background: #314153;
      color: #fff; }
      .header-contactz .-contactz-more:hover i::before {
        background-color: #fff; }
@media (max-width: 991px) {
  .header .header-contactz .-contactz-tel {
    font-size: 24px;
    line-height: 34px; }
  .header .header-contactz .-contactz-more {
    font-size: 12px;
    padding: 6px 6px; } }
@media (max-width: 767px) {
  .header .menu__main .navbar-toggler {
    width: 80px;
    height: 80px;
    padding: 0 20px; }
  .header-contactz {
    font-size: 10px;
    line-height: 17px; } }
@media (max-width: 575px) {
  .header-search__input {
    max-width: 100%; }
  .header .menu__main .navbar-toggler {
    width: 60px;
    height: 60px;
    padding: 0 14px; }
    .header .menu__main .navbar-toggler span {
      margin: 5px 0; }
    .header .menu__main .navbar-toggler span.icon-text {
      padding-top: 2px;
      font-size: 12px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.footer {
  position: relative;
  padding: 100px 0 50px;
  background: #F5F5F5;
  font-size: 14px;
  line-height: 28px; }
  .footer a {
    color: #3F9CC9; }
  .footer-item {
    margin-bottom: 50px; }
  .footer__title {
    padding: 10px 0;
    margin-bottom: 20px;
    font-family: 'Shippori Mincho', serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #C9C9C9; }
  .footer .bg_orange {
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    color: #fff;
    background: #F4901E; }
  .footer .nav__menu a {
    color: #4D4D4D; }
    .footer .nav__menu a:hover {
      color: #3F9CC9; }
  @media (max-width: 1199px) {
    .footer {
      padding: 80px 0 30px; } }
  @media (max-width: 991px) {
    .footer {
      padding: 60px 0 30px; }
      .footer-item {
        margin-bottom: 30px; } }

.copyright {
  padding: 80px 0;
  font-family: 'Shippori Mincho', serif;
  font-size: 12px;
  letter-spacing: 0.2em; }
  .copyright__logo {
    margin-bottom: 20px; }
    .copyright__logo img {
      width: auto;
      max-height: 34px; }
  @media (max-width: 1199px) {
    .copyright {
      padding: 40px 0; } }

/*
======================================
[ Main menu ]
======================================
*/
/*Menu custom*/
.modal-open {
  overflow: hidden; }

.nav-mobile {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  left: -390px;
  width: 390px;
  opacity: 0;
  background: #314153;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  z-index: 999;
  font-size: 18px;
  font-weight: 400;
  pointer-events: none;
  overflow: auto;
  font-family: 'Noto Serif JP', serif; }
  .nav-mobile__close {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 9;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .nav-mobile__close:before {
      background-color: #fff; }
  .nav-mobile__content {
    overflow-y: auto;
    padding: 50px 0 15px; }
  .nav-mobile.active {
    left: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav-mobile .sub-menu {
    display: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    padding-left: 15px; }
    .nav-mobile .sub-menu:after {
      content: "";
      display: table;
      clear: both; }
    .nav-mobile .sub-menu li {
      padding-left: 15px; }
      .nav-mobile .sub-menu li a {
        position: relative;
        display: inline-block;
        padding: 5px 5px; }
  .nav-mobile li {
    position: relative; }
    .nav-mobile li a {
      display: inline-block;
      position: relative;
      color: #fff;
      padding: 5px 15px; }
      .nav-mobile li a:hover {
        color: #fff; }
  .nav-mobile--ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    letter-spacing: 2px; }
    .nav-mobile--ul > li {
      padding: 10px 0; }
      .nav-mobile--ul > li:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      .nav-mobile--ul > li.menu-item-has-children {
        padding-right: 60px; }
      .nav-mobile--ul > li > a {
        color: #fff; }
  .nav-mobile__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: 57px;
    width: 60px;
    border: 0;
    background: none;
    cursor: pointer; }
    .nav-mobile__btn:focus {
      outline: none; }
    .nav-mobile__btn i:before {
      transition: all .5s; }
  .nav-mobile .sub-active > .nav-mobile__btn i:before {
    transform: rotate(180deg); }
  @media (max-width: 575px) {
    .nav-mobile {
      width: 100%; }
      .nav-mobile .nav-mobile__close {
        display: flex; } }

/**/
/**/
.menu-mb__btn {
  display: block;
  margin: 0 0;
  cursor: pointer; }
  .menu-mb__btn p {
    margin-top: 6px; }

.menu-mb__btn .icon-bar {
  width: 33px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  background-color: #fff;
  display: block;
  height: 3px; }

.menu-mb__btn .icon-bar + .icon-bar {
  margin-top: 6px; }

.menu-mb__btn.active .icon-bar:nth-of-type(1) {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 1px 6px;
  -webkit-transform-origin: 1px 6px;
  transform-origin: 1px 6px; }

.menu-mb__btn .icon-bar:nth-of-type(1) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.menu-mb__btn.active .icon-bar:nth-of-type(2) {
  opacity: 0; }

.menu-mb__btn.active .icon-bar:nth-of-type(3) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 9px 1px;
  -webkit-transform-origin: 9px 1px;
  transform-origin: 9px 1px; }

.menu-mb__btn.icon-bar:nth-of-type(3) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

/**/
.navbar-toggler .icon-bar {
  transition: all 0.2s; }

.navbar-toggler.active .icon-bar:nth-of-type(1) {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 1px 6px;
  -webkit-transform-origin: 1px 6px;
  transform-origin: 1px 6px; }

.navbar-toggler.active .icon-bar:nth-of-type(2) {
  opacity: 0; }

.navbar-toggler.active .icon-bar:nth-of-type(3) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 15px 1px;
  -webkit-transform-origin: 9px 1px;
  transform-origin: 9px 1px; }

.breadcrumb {
  padding: 20px 0;
  font-size: 14px;
  --bs-breadcrumb-divider: '|'; }

.py-150 {
  padding-top: 150px;
  padding-bottom: 150px; }

.ratio {
  display: block; }

.ratio_cover > * {
  object-fit: cover; }

.head__title {
  font-family: 'Shippori Mincho', serif;
  margin-bottom: 50px;
  letter-spacing: 0.2em; }
  .head__title .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.1em; }
  .head__title .sub {
    position: relative;
    padding-left: 35px;
    font-size: 15px;
    font-weight: 500; }
    .head__title .sub::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 40%;
      width: 30px;
      height: 1px;
      background: #c9c9c9; }
  .head__title.head__center .title {
    font-size: 26px; }
  .head__title.head__center .sub {
    padding: 0 0 15px; }
    .head__title.head__center .sub::before {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  @media (max-width: 767px) {
    .head__title {
      margin-bottom: 30px; } }

.btn {
  font-family: 'Shippori Mincho', serif; }
  .btn-default {
    font-family: 'Shippori Mincho', serif;
    font-size: 15px; }
    .btn-default .text {
      border-bottom: 2px solid #e4e4e4;
      padding-bottom: 6px;
      text-transform: capitalize; }
    .btn-default i {
      transform: translate(0px);
      margin-left: 8px;
      transition: all .5s; }
    .btn-default:hover {
      border-color: transparent; }
      .btn-default:hover i {
        transform: translate(-6px); }
  .btn-buy {
    padding: 20px 10px;
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
    background: #314153;
    color: #fff;
    border-radius: 0; }
    .btn-buy:hover {
      background: #263341;
      color: #fff;
      border-color: #263341; }

.view__all {
  text-align: center;
  margin: 45px 0 0; }

.btn_style_new {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-family: 'Shippori Mincho', serif;
  font-size: 15px;
  text-transform: uppercase;
  background: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 7px 30px;
  letter-spacing: 0.2em; }
  .btn_style_new:hover {
    border-color: transparent; }
  .btn_style_new i {
    width: 18px;
    margin-left: 8px;
    transition: all .5s; }
  .btn_style_new.-st2 {
    box-shadow: none;
    background: #F6F6F3; }

/**/
.product-item__thumb {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 35px;
  background: #fff; }
.product-item__title {
  margin: 20px 0 10px; }
  .product-item__title a {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 700; }
.product-item__excerpt {
  font-size: 12px; }
.product-item__price {
  font-size: 15px;
  padding-left: 28px;
  margin: 6px 0 0;
  position: relative; }
  .product-item__price::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 2px;
    background: #dfdfdf; }

/**/
.new-item {
  position: relative; }
  .new-item__thumb {
    overflow: hidden;
    margin-bottom: 16px; }
  .new-item__date {
    position: relative;
    padding-left: 28px;
    font-size: 11px;
    color: #969696;
    margin-bottom: 10px; }
    .new-item__date::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 18px;
      height: 2px;
      background: #dfdfdf; }
  .new-item__title {
    font-size: 15px;
    line-height: 25px; }

@media (max-width: 575px) {
  .btn_style_new {
    max-width: 240px;
    padding: 7px 20px; }

  .btn-buy {
    padding: 10px;
    font-size: 18px; } }
.header_banner {
  position: relative;
  margin-bottom: 165px;
  text-align: right; }
  .header_banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 72%;
    height: calc(100% + 70px);
    background: #f7f7f5; }
  .header_banner .thumb.ratio {
    width: 80%;
    display: inline-block;
    overflow: hidden;
    --bs-aspect-ratio: 65%; }
  .header_banner .ratio > * {
    object-fit: cover; }

.banner_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  text-align: left; }
  .banner_item .container {
    font-family: 'Shippori Mincho', serif; }
  .banner_item .title {
    font-size: 38px;
    margin: 0 0 20px;
    font-weight: 700;
    letter-spacing: 0.2em; }
  .banner_item .sub {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.2em; }

.ss_news {
  margin-bottom: 0;
  padding-bottom: 50px; }
  .ss_news .list_news li:not(:last-child) {
    margin: 0 0 20px; }
  .ss_news .list_news a {
    display: block;
    transition: .5s; }
    .ss_news .list_news a:hover > * {
      color: #3F9CC9; }
  .ss_news .list_news .date {
    font-size: 11px;
    margin-right: 10px;
    color: #979797; }
  .ss_news .list_news .text {
    font-size: 14px;
    color: #4c4c4c; }

.ss_recommend {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background: rgba(244, 244, 244, 0.25); }
  .ss_recommend.-home {
    background: transparent; }
    .ss_recommend.-home::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 82%;
      background: #F4F4F4;
      z-index: -1;
      pointer-events: none;
      clip-path: polygon(0 45%, 100% 0, 100% 100%, 0% 100%); }
  .ss_recommend .recommand_slide {
    width: 100vw;
    padding: 6px; }
  .ss_recommend .swiper-slide {
    width: 100%;
    max-width: 240px; }

.ss_wellmethod {
  position: relative;
  padding: 140px 0 60px;
  overflow: hidden; }
  .ss_wellmethod .wellmethod_lists {
    position: relative; }
    .ss_wellmethod .wellmethod_lists:before {
      content: '';
      position: absolute;
      bottom: -145px;
      right: calc( (100vw - 1100px)/-2 );
      width: 100%;
      height: 100%;
      background: #F6F6F3;
      z-index: -1;
      pointer-events: none; }

.ss_brand__lists {
  position: relative;
  padding: 180px 0; }
  .ss_brand__lists .el-item {
    position: relative; }
    .ss_brand__lists .el-item__thumb {
      overflow: hidden; }
    .ss_brand__lists .el-item .ratio {
      --bs-aspect-ratio: 53%; }
    .ss_brand__lists .el-item__meta {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px 120px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .ss_brand__lists .el-item .-wrap-meta {
      padding: 12px 20px;
      background: rgba(53, 137, 226, 0.8);
      color: #fff;
      width: 100%; }
    .ss_brand__lists .el-item__title {
      font-size: 12px;
      letter-spacing: 0.31em;
      margin-bottom: 8px; }
    .ss_brand__lists .el-item__sub {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
    .ss_brand__lists .el-item.-s2 .-wrap-meta {
      background: rgba(199, 150, 3, 0.8); }

.ss_subscription {
  position: relative;
  padding: 100px 0; }
  .ss_subscription .el-box {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 50px 100px;
    background: #fff;
    font-size: 14px; }
  .ss_subscription .title_icon img {
    width: 20px;
    height: 20px; }

@media (max-width: 1199px) {
  .banner_item {
    padding-top: 150px; }

  .ss_news {
    padding-bottom: 20px; }

  .ss_wellmethod .wellmethod_lists:before {
    bottom: -145px;
    right: calc( (100vw - 936px)/-2 ); }

  .ss_wellmethod {
    padding: 80px 0 60px; }

  .ss_brand__lists {
    padding: 80px 0; }
    .ss_brand__lists .el-item__meta {
      padding: 30px 80px; }

  .ss_subscription {
    padding: 80px 0; } }
@media (max-width: 991px) {
  .ss_news .list_news li:not(:last-child) {
    margin: 0 0 12px; }

  .ss_wellmethod .wellmethod_lists:before {
    right: calc( (100vw - 720px)/-2 ); }

  .ss_brand__lists .el-item__meta {
    padding: 30px; } }
@media (max-width: 767px) {
  .header_banner {
    margin-bottom: 120px; }

  .ss_recommend {
    padding: 60px 0; }

  .banner_item .title {
    font-size: 26px;
    margin: 0 0 14px;
    text-shadow: 1px 2px 15px white, 1px 2px 15px white, 1px 2px 15px white, 1px 2px 15px white; }
  .banner_item .sub {
    font-size: 20px; }

  .ss_wellmethod {
    padding: 60px 0 40px; }
    .ss_wellmethod .wellmethod_lists:before {
      display: none; }

  .ss_brand__lists {
    padding: 60px 0; }

  .ss_subscription {
    padding: 60px 0; }
    .ss_subscription .el-box {
      padding: 40px 60px; } }
@media (max-width: 575px) {
  .header_banner .thumb.ratio {
    width: 100%;
    --bs-aspect-ratio: 85%; }

  .banner_item .title {
    font-size: 24px; }

  .ss_subscription .el-box {
    padding: 40px 30px; } }
.sproduct__single {
  margin-bottom: 100px; }
.sproduct__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px; }
.sproduct__tag {
  font-size: 12px;
  line-height: normal;
  margin-bottom: 10px; }
  .sproduct__tag a {
    min-width: 140px;
    padding: 2px 10px;
    border-radius: 40px;
    border: 1px solid #B7B7B7;
    margin-bottom: 10px;
    color: #969696;
    transition: all .5s; }
    .sproduct__tag a:not(:last-child) {
      margin-right: 10px; }
    .sproduct__tag a:hover {
      color: #fff;
      background: #3F9CC9;
      border-color: #3F9CC9; }
.sproduct__meta {
  font-size: 16px;
  line-height: 34px; }
  .sproduct__meta h2 {
    font-size: 24px;
    line-height: normal; }
  .sproduct__meta .-meta-info {
    font-size: 12px;
    line-height: 22px; }
  .sproduct__meta .-meta-suggest {
    font-size: 16px;
    line-height: 34px;
    padding: 16px 20px;
    border: 1px solid #5AC2CB;
    color: #5AC2CB; }
.sproduct__price {
  font-size: 25px;
  font-weight: 700; }
  .sproduct__price .-price {
    font-size: 42px; }
.sproduct__qty {
  font-size: 18px;
  line-height: 22px; }
  .sproduct__qty .qty {
    width: 170px;
    padding: 12px 10px; }
  .sproduct__qty strong {
    font-size: 20px; }
.sproduct__table table {
  --bs-border-color: #ccc; }
.sproduct__table .-table-label {
  width: 100px;
  text-align: center; }
.sproduct__table td {
  padding: 14px 20px; }
.sproduct__content strong {
  font-size: 16px; }
.sproduct-gallery {
  --swiper-navigation-size: 30px; }
.sproduct-slider2 .swiper-slide {
  padding: 4px;
  border: 1px solid #ccc; }
  .sproduct-slider2 .swiper-slide.swiper-slide-thumb-active {
    border-color: #314153; }
@media (max-width: 991px) {
  .sproduct__meta .-meta-suggest {
    font-size: 14px; } }
@media (max-width: 575px) {
  .sproduct__price .-price {
    font-size: 34px; } }

/*# sourceMappingURL=main.css.map */
