.breadcrumb{
	padding: 20px 0;
	font-size: 14px;
	--bs-breadcrumb-divider: '|';
}
.py-150 {
	padding-top: 150px;
	padding-bottom: 150px;
}

.ratio{
	display: block;
}
.ratio_cover > *{
	object-fit: cover;
}
.head__title {
	font-family: 'Shippori Mincho', serif;
	margin-bottom: 50px;
	@include letter-spacing(200);
	.title {
		font-size: 26px;
		font-weight: 500;
		margin-bottom: 10px;
		@include letter-spacing(100);
	}
	.sub {
		position: relative;
		padding-left: 35px;
		font-size: 15px;
		font-weight: 500;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 40%;
			width: 30px;
			height: 1px;
			background: #c9c9c9;
		}
	}
	&.head__center .title {
		font-size: 26px;		
	}
	&.head__center .sub {
		padding: 0 0 15px;
		&::before {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	@media ( max-width: 1399px ) {}
	@media ( max-width: 1199px ) {}
	@media ( max-width: 991px ) {}
	@media ( max-width: 767px ) {
		margin-bottom: 30px;
	}
	@media ( max-width: 575px ) {}
}
.btn{
	font-family: 'Shippori Mincho', serif;
	&-default {
		font-family: 'Shippori Mincho', serif;
		font-size: 15px;
		.text {
			border-bottom: 2px solid #e4e4e4;
			padding-bottom: 6px;
			text-transform: capitalize;
		}
		i {
			transform: translate(0px);
			margin-left: 8px;
			transition: all .5s;
		}
		&:hover{
			border-color: transparent;
			i{
				transform: translate(-6px);
			}
		}
	}
	&-buy{
		padding: 20px 10px;
	    font-size: 20px;
	    line-height: normal;
	    font-weight: 700;
	    background: #314153;
	    color: #fff;
	    border-radius: 0;
	    &:hover{
	    	background: #263341;
	    	color: #fff;
	    	border-color: #263341;
	    }
	}
}


.view__all {
	text-align: center;
	margin: 45px 0 0;
}
.btn_style_new {
	display: inline-block;
	width: 100%;
	max-width: 300px;
	text-align: center;
	font-family: 'Shippori Mincho', serif;
	font-size: 15px;
	text-transform: uppercase;
	background: #fff;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
	border-radius: 0;
	padding: 7px 30px;
	@include letter-spacing(200);
	&:hover{
		border-color: transparent;
	}
	i {
		width: 18px;
		margin-left: 8px;
		transition: all .5s;
	}

	&.-st2{
		box-shadow: none;
		background: #F6F6F3;
	}
}
/**/
.product-item{
	&__thumb {
		box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
		padding: 35px;
		background: #fff;
	}

	&__title {
		margin: 20px 0 10px;
		a {
			display: block;
			color: #000;
			font-size: 15px;
			font-weight: 700;
		}
	}
	&__excerpt {
		font-size: 12px;
	}
	&__price {
		font-size: 15px;
		padding-left: 28px;
		margin: 6px 0 0;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 18px;
			height: 2px;
			background: #dfdfdf;
		}
	}

}
/**/
.new-item{
	position: relative;
	&__thumb{
		overflow: hidden;
		margin-bottom: 16px;
	}
	&__date{
		position: relative;
		padding-left: 28px;
		font-size: 11px;
		color: #969696;
		margin-bottom: 10px;
		&::before {
		    content: "";
		    position: absolute;
		    left: 0;
		    top: 50%;
		    width: 18px;
		    height: 2px;
		    background: #dfdfdf;
		}
	}
	&__title{
		font-size: 15px;
		line-height: 25px;
	}
}


@media ( max-width: 1399px ) {}
@media ( max-width: 1199px ) {}
@media ( max-width: 991px ) {}
@media ( max-width: 767px ) {}
@media ( max-width: 575px ) {
	.btn_style_new {
	    max-width: 240px;
	    padding: 7px 20px;
	}
	.btn-buy {
	    padding: 10px;
	    font-size: 18px;
	}
}