[class^="icon-"], [class*=" icon-"] {
    position: relative;
	display: inline-block;
	&.-white{
		&:before{
			background-color: #fff;
		}
		&:hover{
			&:before{
				background-color: #FFECA7;
			}
		}
	}
    &:before{
        content: '';
        position: relative;
        display: inline-block;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
        background-color: #666666;
        transition: color .5s;
    }
}
.icon{
	&-close:before{
        top: 2px;
        width: 20px;
        height: 20px;
        -webkit-mask-image: url(../img/icon-close.svg);
    }
}
