/*
======================================
[ Main menu ]
======================================
*/

/*Menu custom*/
.modal-open{overflow:hidden;}

.nav-mobile{
    display:block;
    position:fixed;
    top:0;
    height:100%;
    left:-390px;
    width:390px;
    opacity:0;
    background:#314153;
    -webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;
    z-index:999;
    font-size: 18px;
    font-weight: 400;
    pointer-events: none;
    overflow: auto;
    font-family: 'Noto Serif JP', serif;

    &__close {
        position: absolute;
        top: 15px;
        right: 10px;
        z-index: 9;
        width: 40px;
        height: 40px;
        font-size: 18px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:before{
            background-color: #fff;
        }
    }
    &__header{
    }
    &__content{
        overflow-y:auto;
        padding: 50px 0 15px;
    }
    &.active{
        left:0;
        opacity:1;
        pointer-events: auto;
    }
    .sub-menu{
        display: none;
        font-size:14px;
        line-height: 26px;
        font-weight: 400;
        padding-left: 15px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        &>li{
        }
        li{
            padding-left: 15px;

            a{
                position: relative;
                display: inline-block;
                padding:5px 5px;
            }
        }
    }
    li{
        position:relative;
        a{
            display: inline-block;
            position: relative;
            color: #fff;
            padding: 5px 15px;
            &:hover{
                color:#fff;
            }
        }
        &.active, &:hover{
            &>a{

            }
        }
    }
    &--ul{
        list-style:none;
        padding:5px 0;
        margin:0;
        letter-spacing: 2px;
        &>li{
            padding: 10px 0;
            &:not(:last-child){
                border-bottom: 1px solid rgba(255, 255, 255, .3);
            }

            &.menu-item-has-children {
                padding-right: 60px;
            }

            &>a{
                color: #fff;
            }
        }
    }
    &__btn{
        position:absolute;
        top:0;
        right:0;
        padding:0;
        height: 57px;
        width: 60px;
        border:0;
        background:none;
        cursor:pointer;
        &:focus{
            outline:none;
        }
        i{
           &:before{
             transition: all .5s;
           }
        }
    }
    .sub-active>.nav-mobile__btn i:before{
        transform: rotate(180deg);
    }
    @media ( max-width: 575px ) {
        width: 100%;
        .nav-mobile__close{
            display:flex;
        }
    }
}
/**/


/**/
.menu-mb__btn{
display: block;
    margin: 0 0;
    cursor: pointer;
    p{
        margin-top: 6px;
    }
}
.menu-mb__btn .icon-bar{width:33px;
    transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;
    background-color:#fff;display:block;height:3px;
}
.menu-mb__btn .icon-bar+.icon-bar{margin-top:6px;}
.menu-mb__btn.active .icon-bar:nth-of-type(1){
    -ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);
    -ms-transform-origin:1px 6px;-webkit-transform-origin:1px 6px;transform-origin:1px 6px;
}
.menu-mb__btn .icon-bar:nth-of-type(1){
    -ms-transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0);
}
.menu-mb__btn.active .icon-bar:nth-of-type(2){opacity:0;}
.menu-mb__btn.active .icon-bar:nth-of-type(3){-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);transform:rotate(-45deg);-ms-transform-origin:9px 1px;
    -webkit-transform-origin:9px 1px;transform-origin:9px 1px;}
.menu-mb__btn.icon-bar:nth-of-type(3){
    -ms-transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0);
}

/**/
.navbar-toggler .icon-bar{
transition:all 0.2s;
}
.navbar-toggler.active .icon-bar:nth-of-type(1){
    -ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);
    -ms-transform-origin:1px 6px;-webkit-transform-origin:1px 6px;transform-origin:1px 6px;
}
.navbar-toggler.active .icon-bar:nth-of-type(2){opacity:0;}
.navbar-toggler.active .icon-bar:nth-of-type(3){-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);transform:rotate(-45deg);-ms-transform-origin:15px 1px;
    -webkit-transform-origin:9px 1px;transform-origin:9px 1px;}